<div class="post-preview">
  {{> "post-tagline"}}
  <a class="post-content" href="{{url}}" title="{{title}}">
    <h2 class="post-title">
      <span>{{title}}</span>
      <span class="post-continue">&#8250;</span>
    </h2>
    <p class="post-excerpt">{{excerpt}}</p>
  </a>
</div>